<section class="equipo__contenido" style="border: 1px solid grey;">
    <div class="equipo__caja">
        <div class="equipo__anotar">
            <h2>equipo_1</h2>
            <span>Empate</span>
            <div>
                <button>Anotar</button>
            </div>
        </div>
        <div class="equipo__anotar">
            <h2>equipo_1</h2>
            <span>Empate</span>
            <div>
                <button >Anotar</button>
            </div>
        </div>
    </div>
    <div>
        <button [disabled]="comenzarPartidoHabilitado" (click)="comenzarpartido()">comenzar partido</button>
    </div>
</section>
