/* You can add global styles to this file, and also import other style files */
*{
    user-select: none;
}
body{
    background-image: url("assets/img/vector-soccer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}