<section class="marcador__contenido" style="border: 1px solid rgb(77, 74, 74);" >
    <div class="marcador__nombreE" style="border: 1px solid rgb(231, 61, 61);">
        <h2>Equipo_1</h2>
        <span>VS</span>
        <h2>Equipo_2</h2>
    </div>
    <div class="marcador__goles" style="border: 2px solid rgb(34, 212, 212);">
        <h2>00</h2>
        <span>:</span>
        <h2>00</h2>
    </div>
    <div class="marcador__tiempo" style="border: 1px solid rgb(29, 185, 76);">
        <div>
          <p>Tiempo</p>
          <span>1:00</span>
        </div>
    <select>
       <option value="2">2 minutos</option>
       <option value="5">5 minutos</option>
       <option value="personalizado">Personalizado</option>
  </select>
  <div>
    <label >Tiempo Personalizado:</label>
    <input type="number">
  </div>
    </div>

</section>
<app-equipo-anotar></app-equipo-anotar>