.marcador__contenido{
    width: 40vw;
    margin: auto;
}
.marcador__nombreE{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.marcador__goles{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.marcador__tiempo{
    display: flex;
    flex-direction: column;
    align-items: center;
}